.section-category {
  & > .swiper {
    & > .swiper-wrapper {
      padding-bottom: 30px;
    }

    .swiper-pagination-bullet-active {
      background-color: $primary;
    }
  }
}

.home_product-item{
  &:hover .add-cart {
  transform: translateY(0);
    transition: all 0.3s ease;
  }
}